/* https://www.youtube.com/watch?v=c13gpBrnGEw */
/* A new approach to container and wrapper classes - Kevin Powell
 */

/* https://gist.github.com/AndrewCraswell/106143d1bb5d4162689b9e1d89a2d0fb */
@font-face {
  font-family: "Segoe UI";
  src:
    local("Segoe UI Bold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf)
      format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Segoe UI";
  src:
    local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format("truetype");
  font-weight: 400;
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

img.full-width {
  width: 100%;
  max-height: 25vh;
  object-fit: cover;
}

:root {
  /*   --color-scheme: dark;
 */
  /* --font-family: system-ui; */
  --font-family: "Segoe UI", system-ui;
  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --clr-primary-300: hsl(219, 76%, 55%);
  --clr-primary-400: hsl(219, 76%, 40%);
  --clr-primary-500: hsl(219, 76%, 25%);
  --clr-secondary-300: hsl(269, 75%, 55%);
  --clr-secondary-400: hsl(269, 75%, 40%);
  --clr-secondary-500: hsl(269, 75%, 25%);
  --clr-accent-200: hsl(246.46deg 20.83% 92.23%);
  --clr-accent-300: hsl(358, 72%, 65%);
  --clr-accent-400: hsl(358, 72%, 50%);
  --clr-accent-500: hsl(358, 72%, 35%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: var(--color-scheme);
}

body {
  /* holy grail */
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  margin: 0;
  font-family: var(--font-family);
  font-size: var(--fs-400);
  line-height: 1.6;
}

.holy-grail-container {
  /* holy grail */
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

a {
  color: var(--clr-primary-500);
}

img {
  max-width: 100%;
  display: block;
}

.site-title {
  font-size: var(--fs-400);
  line-height: 1.05;

  display: flex;
  max-width: 28ch;
  line-height: 0.9;

  align-items: center;

  gap: 5px;
}

.section-title {
  font-size: var(--fs-800);
  line-height: 1.1;
}

.bg-primary {
  background: var(--clr-primary-500);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.call-to-action {
  padding: 1rem;
  background: hsl(0 0% 100% / 0.15);
  text-align: center;
  /*  margin-left: 1em; */
}

.wrapper {
  width: calc(100% - 3rem);
  max-width: 900px;
  margin-inline: auto;
}

.flow > * + * {
  margin-top: var(--flow-spacing, 1em);
}

.section-padding {
  padding-block: 2.5rem;
}

.primary-header {
  padding-block: 1rem;
  margin-block-end: 3rem;
  background: var(--clr-accent-200);
  color: var(--clr-primary-500);
}

.primary-header__layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

.logo {
  max-width: 60px;
  height: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: max(5vw, 1rem);
}

nav a {
  color: inherit;
  text-decoration: none;
  font-size: var(--fs-400);
  font-weight: normal;
}

nav a:hover,
nav a:focus {
  color: var(--clr-primay-500);
  text-decoration: underline;
}

.even-columns {
  display: flex;
  gap: 1rem;
}

header {
  position: fixed;
  width: 100%;
}

.list-unstyled {
  list-style: none;
}

.mt0 {
  margin-top: 0;
}

.site-title-alt {
  font-size: var(--fs-700);
  margin-top: 7rem;
  line-height: normal;

  display: grid;
  /* grid-template-columns: max-content; */
  text-wrap: balance;
}

.site-title-alt span {
  font-size: var(--fs-500);
  font-weight: bold;
  justify-self: start;
  /*  margin-top: -10px;
  margin-left: 1em; */
  /*  margin: -5px -5px -8px 2px; */
}

ul.direttivo li {
  /*   width: 500px;
  display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 677px) {
  .logo {
    width: 45px;
  }
  .primary-header {
    padding-block: 0.5rem;
  }
  nav ul {
    margin-top: 0.2rem;
  }
}

@media screen and (max-width: 720px) {
}

@media screen and (max-width: 540px) {
  ul.list-unstyled li {
    line-height: normal;
    margin-bottom: 0.6rem;
  }
  ul.direttivo li {
    line-height: 1;
    margin-bottom: 0.6rem;
  }
}

ul.direttivo li span {
  align-self: center;
}

.light-text {
  color: white;
}

footer {
  background: var(--clr-accent-200);
  color: var(--clr-primary-500);
  padding-block: 1rem;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

small.year {
  flex: 1;
}

h2.title {
  margin-top: 7rem;
}

.utility {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.utility button,
.utility input {
  font-size: inherit;
}

.button-group {
  display: flex;
  gap: 1rem;
}

.mappa {
  max-height: 25vh;
  object-fit: none;
  margin-top: 77px;
}

@media screen and (max-width: 1024px) {
  .mappa {
    overflow-x: visible;
  }
}

/* w3c table css */

.albo-table {
  overflow-x: auto;
}

tbody {
  font-size: 1rem;
}

#iscritti {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#iscritti td,
#iscritti th {
  border: 1px solid #ddd;
  padding-inline: 8px;
  padding-block: 4px;
}

#iscritti tr:nth-child(even) {
  background-color: var(--clr-accent-200);
}

/* #iscritti tr:hover {
  background-color: #ddd;
} */

#iscritti th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: var(--clr-primary-500);
  color: white;
}
